body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.results__count{
  font-weight: 700;
  background-color: #b6ffde;
  max-width: 25%;
  padding: 1%;
}

.results__data{
  margin-top: 5%;
}

.results__post{
  margin-top: 3%;
  border-style: solid;
  padding-left: 2%;
  padding-bottom: 2%;
}

.search__btn{
  padding: 1%;
}

.search__btn:hover{
  background-color:#E8E8E8;
  border-radius: 4px;
}
